.time-block {
    width: 90%;
    margin: 80px auto;


    div {
 
        text-align: center;
        .block {
            display: inline-block;
            width: 160px;
            height: 160px;
            margin: 0 15px;
            text-align: center;
            background: gray;
            * {
                @include font("Gotham-Light", 129px, black, normal);
                text-transform: uppercase;
            }
            p {
                font-size: 110px;
                text-align: center;
                margin-bottom: 20px;
            }
            span {
                font-size: 23px;
            }
        }
    }
}